td, th{
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}
th:first-of-type{
  background-color: orange;
}
th:nth-of-type(2){
  background-color: lightblue;
}
th:nth-of-type(3){
  background-color: lightpink;
}
th:nth-of-type(4){
  background-color: magenta;
}
th:nth-of-type(5){
  background-color: violet;
}
table{
  border-top: 10px dashed orange;
  border-bottom: 5px dotted green;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 50%;
}
