/*monserrat and josefin*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*colors*/
    --drop-shadow-1:5px 5px 7px 1px rgba(93, 129, 109,0.5);
    --drop-shadow-gallery: 2px 2px 1px 1px rgba(0, 0, 0, 0.708); 

    --color-foreground:rgb(255, 255, 255);
    --color-fun:rgb(148, 196, 255);
    --color-transparent:rgba(255,255,255,0);

    /*fonts*/
    --font-header: 'Josefin Sans', sans-serif; 
    --font-normal:'Josefin Sans', sans-serif;
    --font-standard: Montserrat;
    --font-display: 'Josefin Sans', sans-serif;
  }

*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
.main-link{
    text-decoration: none;
    display: block;
    margin: 10px;
    width: 100%;
    text-align: center;
}
.main-link:hover{
    text-decoration: underline;
}
body{
    font-family:var(--font-standard);
    font-size: 16px;
    font-stretch: extra-expanded;
}
h1{
    font-weight: 600;
    margin-bottom: 20px;
    font-family: var(--font-header);
}

section{
    padding: 10px 10%;
}
.bio{
    min-height: 100vh;
}

.button-menu{
    text-align:center;  
    margin-top: 30px;
}

.button-menu a{ 
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.button-menu a{ 
    mix-blend-mode: difference;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 30px;
    transition: 300ms;
    background-color: var(--color-transparent);
    color: var(--color-fun);
    border: 0.8px solid var(--color-foreground);
}
.button-menu a:hover{
    mix-blend-mode:difference;
    color: rgb(40, 40, 40);  
    background-color: var(--color-fun);
    border-color:var(--color-fun);
    transition: 300ms;
}
  
/*ensures proper alignment and clickable area*/
.button-menu a, .button-menu li{ 
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bio h1{
    margin-top: 15vh;
    font-family: var(--font-header);
    font-size: 30pt;
    color: var(--color-fun);
    text-align: center;
    transition: 1s;
}
.bio h1:hover{
    color: var(--color-fun) ;
    transition: 0.3s;
}
.bio p{
    font-family: var(--font-standard);
    color: rgb(198, 198, 198);
    font-weight: 200;
    line-height: 1.5;
    text-align: justify;
    margin: auto;
    max-width: 500px;
}
.bio-image{
    mix-blend-mode:difference;
    display: block;
    margin: auto;
    margin-bottom: 40px;
    max-width: 200px;
}
.bio p span{
    transition: 1s;
}
.bio p span{
    font-weight: 400;
    transition: 0.2s;
}
.bio p span:hover{
    color: var(--color-fun);
}

h1.title{
    padding-top: 40px;
    text-align: center;
    width: 100%;
    font-family: var(--font-header);
    font-weight: 700;
    text-transform: uppercase;
}

.projects .gallery{
    margin:10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    padding: 10px;
}
.gallery img{
    margin: 10px;
    object-fit:fill;
    min-width: 100px;
    max-height: 40vh;
    box-shadow: var(--drop-shadow-gallery);
}
.standard-16-9 img{
    object-fit: cover;
    aspect-ratio: 16/9;
    max-width: 500px;
}

.dotted {
    --dot-bg: rgb(50, 50, 50);
    --dot-color: rgb(95, 95, 95);
    --dot-size: 1px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
  }
  
  .projects .gallery{
    border-radius: 5px;
    box-shadow: inset 0px 0px 7px 0px var(--color-fun);
    --dot-bg: rgb(80, 80, 80);
    --dot-color: var(--color-fun);
    --dot-size: .5px;
    --dot-space: 3px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
  }

.project-page{
    border-top: 3px solid var(--color-fun);
    background-color: rgb(21, 21, 21);
}

.project-page h1{
    color: grey;
}
.project-page a{
    color: grey;
}
.project-page p{
    color: rgb(173, 173, 173);
}

.techstack{
    display: flex;
    width: 100%;
    padding: 2px;
    justify-content: flex-end;
}
.techstack p{
    display: inline-flex;
    margin: 2px;
    padding: 2px 4px;
    font-family: var(--font-normal);
    border: 1px solid rgb(198, 198, 198);
    color: rgb(198, 198, 198);
    background-color: var(--color-transparent);
    transition: 0.1s;
}
.techstack p:hover{
    transition: 0.1s;
    border: 1px solid var(--color-fun);
    background-color: var(--color-fun);
    color: white;
}

#uiux{
    border-top: 2px solid var(--color-fun);
}
#uiux h1{
    color: var(--color-fun);
    margin-top: 20px;
}
.uicard a{
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgb(198, 198, 198); 
    width: fit-content;
    transition: 300ms;
}
.uicard a:hover{
    background-color: yellow;
    border-radius: 5px;
    color: black;
    width: fit-content;
    transition: 300ms;
}
.paper{
    background-color: var(--color-fun);
    margin: 10px 0;
    border-radius: 10px;
    padding: 15px;
}
.paper a{
    color: white;
}
.paper h2, .paper p{
    font-size: 12pt;
    margin-bottom: 10px;
}
::selection{
    color: black;
    background-color: var(--color-fun);
}
::-moz-selection{
    color: black;
    background-color: var(--color-fun);
}
   
