@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Grandiflora+One&family=Handlee&family=Patrick+Hand+SC&family=Permanent+Marker&family=Zilla+Slab+Highlight:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    /*colors*/
    --color-bg-main-1: rgb(255, 255, 255);
    --color-main-text-1:black;
    --color-button-1:black;
    --color-button-text-1:white;
    --color-border-1:purple;
    --drop-shadow-1:5px 5px 7px 1px rgba(93, 129, 109,0.5);
    --drop-shadow-gallery: 2px 2px 1px 1px rgba(0,0,0,0.5); 

    --color-bg-main-2: rgb(59, 3, 27);
    --color-main-text-2:white;
    --color-button-2:white;
    --color-text-2:black;
    --color-border-2:purple;

    /*fonts*/
    --font-header:'Bubblegum Sans', sans-serif; 
    --font-normal:'Zilla Slab', serif;
    --font-handwritten: 'Handlee', cursive;
    --font-marker: 'Permanent Marker', cursive;
    --font-no-highlight: 'Zilla Slab', serif;
    --font-highlight: 'Zilla Slab Highlight', serif;
  }

*{
    margin:0;
    padding:0;
}
.main-link{
    color: var(--color-text-2);
    text-decoration: none;
    display: block;
    margin: 10px;
    width: 100%;
    text-align: center;
}
.main-link:hover{
    text-decoration: underline;
}
body{
    background-color: var(--color-bg-main-1);
    font-family:var(--font-handwritten);
}
h1{
    margin-bottom: 20px;
    font-family: var(--font-header);
}

section{
    padding: 40px 10%;
    display: flex-box;
}

.button-menu{
    text-align:center;  
    margin-top: 30px;
}
.button-menu ul{
    list-style: none;  
}
.button-menu li{ 
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.button-menu a{ 
    text-decoration: none;
    color: var(--color-button-text-1);  
    padding: 20px 30px;
    background-color: var(--color-button-1);
    border: 1px solid var(--color-button-text-1);
    transition: 0.2s;
}
.button-menu a:hover{
    border: 1px solid var(--color-text-2);
    background-color: rgba(255, 255, 255, 0);
    color: var(--color-text-2);
}
/*ensures proper alignment and clickable area*/
.button-menu a, .button-menu li{ 
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.resume{
  background-color: var(--color-bg-main-1);
}
.resume img{
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: var(--drop-shadow-1); 
    box-shadow: var(--drop-shadow-1);
}
.bio h1{
    text-align: center;
}
.bio-image{
    display: block;
    margin: auto;
    max-width: 200px;
}
.techstack{
    display: flex;
    width: 100%;
    padding: 2px;
    justify-content: flex-end;
}
.techstack p{
    display: inline-flex;
    margin: 2px;
    padding: 2px;
    font-family: var(--font-normal);
    background-color: var(--color-bg-main-2);
    color: var(--color-main-text-2);
}


.projects .gallery{
    margin:10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    background-color: rgb(164, 164, 164);
    padding: 10px;
    border-radius: 10px;
}
.gallery img{
    margin: 10px;
    object-fit:fill;
    min-width: 100px;
    max-height: 40vh;
    box-shadow: var(--drop-shadow-gallery);
}
.standard-16-9 img{
    object-fit: cover;
    aspect-ratio: 16/9;
    max-width: 500px;
}