/* the styles for the elements */
*{
	margin: 0;
	padding: 0;
}
html{
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: #931420 3px solid;
	background-color: #fffded;
}
/* the styles for the header */
header{
	border-bottom: #931420 3px solid;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-image: linear-gradient(30deg, #f6bb73 0%, white 30%, white 80%, #f6bb73 100%);
}
header img{
	float: left;
	margin-left: 2em;
	margin-right: 2em;
}
h1{
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin: 0 0 0 0!important;
}
h2{
	font-size: 170%;
	color: #800000;
	padding: 0 30px;
}
h3{
	font-size: 130%;
	font-style: italic;
	padding: 0 30px;
}
/* the styles for the section */
section{
	width: 525px;
	float: right;
	padding: 0 20px 20px 20px;
}

article {
	padding-top: .5em;
	padding-bottom: .5em;
	border-top: 2px #800000 solid;
	border-bottom: 2px #800000 solid;
}
article img{
	float: right;
	margin: auto;
	border: black 1px solid;
}
aside{
	width: 215px;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}
aside h3{
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em
}
main h2{
	font-size: 130%;
	color: #800000;
	padding: .5em 0 .25em 0;
}
main h3{
	font-size: 105%;
	padding-bottom: .25em;
	padding-left: 0;
	font-style: normal;
}

article h2{
	padding-top: 0;
}
article h3{
	font-size: 105%;
	padding-bottom: .25em;
}


main{
	clear: left;
}

main p{
	padding-bottom: .5em;
}
main blockquote{
	padding: 0 2em;
	font-style: italic;
}
main ul{
	padding: 0 0 .25em 1.25em;
}
main li{
	padding-bottom: .35em;
}

/* the styles for the footer */



a[href]:hover{
	font-style: italic;
}
footer{
	clear: right;
	padding: 20px 0;
	background-color: #931420;
}
footer p{
	text-align: center;
	color: white;
}
.shadow{
	text-shadow: 2px 2px 2px #800000;
}

/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
	width: 20%;                 /* 160 / 800 x 100 */
}
#nav_menu ul li a {
	display: block;
	text-align: center;
	padding: 1em 0;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
	width: 100%;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}

